{% extends 'base.html' %}
{% block title %} Plot {% endblock %}

{% block content %}
    <h1>Price chart</h1>
    <div id='price_chart' class='chart'></div>

    <h1>Seasonality chart</h1>
    <div id="seasonality_chart" class="chart"></div>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      let price = {{price_plot_json | safe}};
      Plotly.plot('price_chart', price, {});

      let seasonality = {{seasonality_plot_json | safe}};
      Plotly.plot('seasonality_chart', seasonality, {});
    </script>

{% endblock %}